
            <!-- 現售商品搜尋 -->
            <section class="section" role="contact">
				<section class="viewport">
					<!-- 業務窗口 -->
					<aside class="part">
						<h3>業務窗口</h3>
						<table>
							<tr>
								<th>單位/職稱</th>
								<th>諮詢窗口</th>
								<th>公司電話</th>
								<th>分機</th>
								<th>聯絡/諮詢資訊</th>
							</tr>
							<tr>
								<td rowspan="2">北區</td>
								<td class="dark">陳淑萍</td>
								<td rowspan="2">02-2751-7578</td>
								<td class="dark">6852</td>
								<td>0930-879-809</td>
							</tr>
							<tr>
								<td class="dark">陳淑萍</td>
								<td class="dark">6850</td>
								<td>0930-879-809</td>
							</tr>
							<tr>
								<td>中區</td>
								<td class="dark">陳淑萍</td>
								<td>02-2751-7578</td>
								<td class="dark">716</td>
								<td>0930-879-809</td>
							</tr>
							<tr>
								<td rowspan="2">南區</td>
								<td class="dark">陳淑萍</td>
								<td rowspan="2">02-2751-7578</td>
								<td class="dark">806</td>
								<td>0930-879-809</td>
							</tr>
							<tr>
								<td class="dark">陳淑萍</td>
								<td class="dark">805</td>
								<td>0930-879-809</td>
							</tr>
						</table>
					</aside>
					<!-- ./業務窗口 -->
					<!-- 通路行政窗口 -->
					<aside class="part">
						<h3>通路行政窗口</h3>
						<table>
							<tr>
								<th>單位/職稱</th>
								<th>諮詢窗口</th>
								<th>公司電話</th>
								<th>分機</th>
								<th>聯絡/諮詢資訊</th>
							</tr>
							<tr>
								<td rowspan="3">總公司</td>
								<td class="dark">陳淑萍</td>
								<td rowspan="3">02-2751-7578</td>
								<td class="dark">6845</td>
								<td>0930-879-809</td>
							</tr>
							<tr>
								<td class="dark">陳淑萍</td>
								<td class="dark">6851</td>
								<td>0930-879-809</td>
							</tr>
							<tr>
								<td class="dark">陳淑萍</td>
								<td class="dark">5048</td>
								<td>0930-879-809</td>
							</tr>
							<tr>
								<td>中、南區</td>
								<td class="dark">陳淑萍</td>
								<td>02-2751-7578</td>
								<td class="dark">717</td>
								<td>0930-879-809</td>
							</tr>
						</table>
					</aside>
					<!-- ./通路行政窗口 -->
					<!-- 通路行政窗口 -->
					<aside class="part">
						<h3>通路行政窗口</h3>
						<table>
							<tr>
								<th>單位/職稱</th>
								<th>諮詢窗口</th>
								<th>公司電話</th>
								<th>分機</th>
								<th>聯絡/諮詢資訊</th>
							</tr>
							<tr>
								<td rowspan="3">契約部</td>
								<td class="dark">陳淑萍</td>
								<td rowspan="6">02-2751-7578</td>
								<td class="dark">5924</td>
								<td rowspan="3">核保</td>
							</tr>
							<tr>
								<td class="dark">陳淑萍</td>
								<td class="dark">5926</td>
							</tr>
							<tr>
								<td class="dark">陳淑萍</td>
								<td class="dark">5925</td>
							</tr>
							<tr>
								<td rowspan="2">保服及續保部</td>
								<td class="dark">陳淑萍</td>
								<td class="dark">5393</td>
								<td rowspan="2">契變(含猶豫期變更)、續期保費等</td>
							</tr>
							<tr>
								<td class="dark">陳淑萍</td>
								<td class="dark">5991</td>
							</tr>
							<tr>
								<td>理賠部</td>
								<td class="dark">陳淑萍</td>
								<td class="dark">5421</td>
								<td>理賠</td>
							</tr>
						</table>
					</aside>
					<!-- ./通路行政窗口 -->
				</section>
			</section>
			<!-- ./現售商品搜尋 -->