
            <!-- 最新消息 -->
            <section role="headnews" class="section">
                <aside class="viewport">
                    <input type="radio" id="newsTab1" class="hide" name="newsTab" checked>
                    <input type="radio" id="newsTab2" class="hide" name="newsTab">
                    <input type="radio" id="newsTab3" class="hide" name="newsTab">
                    <nav>
                        <h3>最新消息</h3>
                        <label for="newsTab1">行政訊息</label>
                        <label for="newsTab2">保戶訊息</label>
                        <label for="newsTab3">重要連結</label>
                        <a href="javascript:">更多</a>
                    </nav>
                    <aside class="newslist">
                        <img src="img/icMainNews.svg">

                        <ul data-for="newsTab1">
                            <li class="new"><a class="veno" data-vbtype="inline" title=" " href="#messageBox">
                                <small>2017/11/10</small><b>喚醒退休危機意識 美元保單助輕鬆享樂退</b>
                            </a></li>
                            <li class="new"><a href="javascript:">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a href="javascript:">
                                <small>2017/10/12</small><b>預約無憂老後 增額型殘扶險 補強長期照護需求</b>
                            </a></li>
                            <li><a href="javascript:">
                                <small>2017/10/05</small><b>提前開拓樂退大確幸 善用利變增額壽險</b>
                            </a></li>
                            <li><a href="javascript:">
                                <small>2017/08/17</small><b>提前開拓樂退大確幸 善用利變增額壽險</b>
                            </a></li>
                        </ul>
                        
                        <ul data-for="newsTab2">
                            <li><a href="javascript:">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a href="javascript:">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a href="javascript:">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a href="javascript:">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a href="javascript:">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                        </ul>

                        <ul data-for="newsTab3">
                            <li><a class="veno" href="#messageBox">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a href="javascript:">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a href="javascript:">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a href="javascript:">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a href="javascript:">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                        </ul>

                    </aside>
                </aside>
            </section>
            <!-- ./最新消息 -->