
            <!-- 最新消息 -->
            <section role="headnews" class="section">
                <aside class="viewport">
                    <input type="radio" id="newsTab1" class="hide" name="newsTab" checked>
                    <input type="radio" id="newsTab2" class="hide" name="newsTab">
                    <input type="radio" id="newsTab3" class="hide" name="newsTab">
                    <input type="radio" id="newsTab4" class="hide" name="newsTab">
                    <input type="radio" id="newsTab5" class="hide" name="newsTab">
                    <input type="radio" id="newsTab6" class="hide" name="newsTab">
                    <nav>
                        <label for="newsTab1">行政訊息</label>
                        <label for="newsTab2">保戶訊息</label>
                        <label for="newsTab3">重要連結</label>
                        <label for="newsTab4">熱銷商品</label>
                        <label for="newsTab5">常用表單</label>
                        <label for="newsTab6">聯絡窗口</label>
                        <a href="javascript:">更多</a>
                    </nav>
                    <aside class="newslist">
                        <aside class="news-icon">
                            <img for="newsTab1" src="img/icNews1.png">
                        </aside>
                        <aside class="news-icon">
                            <img for="newsTab2" src="img/icNews2.png">
                        </aside>
                        <aside class="news-icon">
                            <img for="newsTab3" src="img/icNews3.png">
                        </aside>
                        <aside class="news-icon">
                            <img for="newsTab4" src="img/icNews4.png">
                        </aside>
                        <aside class="news-icon">
                            <img for="newsTab5" src="img/icNews5.png">
                        </aside>
                        <aside class="news-icon">
                            <img for="newsTab6" src="img/icNews6.png">
                        </aside>

                        <ul data-for="newsTab1">
                            <li class="new"><a class="veno" data-vbtype="inline" title=" " href="#messageBox">
                                <small>2017/10/23</small><b>喚醒退休危機意識 美元保單助輕鬆享樂退</b>
                            </a></li>
                        </ul>
                        
                        <ul data-for="newsTab2">
                            <li><a class="veno" href="#messageBox">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li class="new"><a class="veno" href="#messageBox">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <small>2017/10/23</small><b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                        </ul>

                        <ul data-for="newsTab3">
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                        </ul>

                        <ul data-for="newsTab4">
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                        </ul>

                        <ul data-for="newsTab5">
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                        </ul>

                        <ul data-for="newsTab6">
                            <li><a class="veno" href="#messageBox">
                                <b>及早規劃退休生活 老年生活好放心 熱情參與「扶弱X樂齡 安居X樂行」千人彩繪馬拉松暨保險宣導園遊會</b>
                            </a></li>
                        </ul>

                    </aside>
                </aside>
            </section>
            <!-- ./最新消息 -->