
            <!-- 聯絡窗口資訊 商品專區 下載專區 -->
            <section class="section" role="headcontact">
				<section class="viewport">
                    <aside class="row">
                        <a class="pull-left" href="javascript:">
                            <aside>
                                <img src="img/icMainConnect.svg">
                                <h5>聯絡窗口資訊</h5>
                            </aside>
                        </a>
                        <aside class="pull-right">
                            <input type="radio" id="areaTab1" class="hide" name="areaTab" checked>
                            <input type="radio" id="areaTab2" class="hide" name="areaTab">
                            <nav>
                                <label class="vertical-middle" for="areaTab1">
                                    <img class="productsvg" data-src="img/icMainProductsH.svg">
                                    <span>商品專區</span>
                                </label><label class="vertical-middle" for="areaTab2">
                                    <img class="downloadsvg" data-src="img/icMainDownloadN.svg">
                                    <span>下載專區</span>
                                </label>
                            </nav>
                            <aside class="arealist">
                                <ul data-for="areaTab1">
                                    <li><a href="javascript:">元大人壽幸扶一世雙重照護終身保險(DJ)</a></li>
                                    <li><a href="javascript:">元大人壽幸扶一生雙重照護終身保險(DI)</a></li>
                                    <li><a href="javascript:">元大人壽真心豁免保險費附約(WD)</a></li>
                                    <li><a href="javascript:">元大人壽幸扶一生雙重照護終身保險(DI)</a></li>
                                    <li><a href="javascript:">元大人壽真心豁免保險費附約(WD)</a></li>
                                </ul>
                                <ul data-for="areaTab2">
                                    <li><a href="javascript:">元大人壽幸扶一世雙重照護終身保險(DJ)</a></li>
                                    <li><a href="javascript:">元大人壽幸扶一生雙重照護終身保險(DI)</a></li>
                                    <li><a href="javascript:">元大人壽真心豁免保險費附約(WD)</a></li>
                                    <li><a href="javascript:">元大人壽幸扶一生雙重照護終身保險(DI)</a></li>
                                    <li><a href="javascript:">元大人壽真心豁免保險費附約(WD)</a></li>
                                </ul>
                            </aside>
                        </aside>
                    </aside>
				</section>
			</section>
			<!-- ./聯絡窗口資訊 商品專區 下載專區 -->