
            <!-- 登入表單 -->
            <section class="section" role="loginform">
				<section class="viewport">
                    <!-- 系統公告維修 -->
                    <aside class="row anounce">
                        <aside class="col-xs-2 image">
                            <img src="img/tool.jpg">
                        </aside>
                        <aside class="col-xs-10 text">
                            <h4>系統公告維修</h4>
                            <p>本系統將於 12/1 00:00 至 12/1 05:00 期間進行維修 特此公告。</p>
                        </aside>
                    </aside>
                    <!-- ./系統公告維修 -->
					<form>
						<h3>
							使用者登入
						</h3>
						<aside class="form-group row">
                            <label class="col-xs-2 col-form-label">帳號</label>
                            <aside class="col-xs-8">
                                <!-- 欄位有誤時加 invalid -->
                                <input placeholder="請輸入帳號" class="form-control invalid" type="text" name="userName">
                            </aside>
                        </aside>
						<aside class="form-group row">
                            <label class="col-xs-2 col-form-label">密碼</label>
                            <aside class="col-xs-8">
                                <input placeholder="請輸入密碼" class="form-control" type="password" name="password">
                            </aside>
                            <aside class="col-xs-2">
                                <a class="btn small" href="javascript:">忘記密碼</a>
                            </aside>
                        </aside>
						<aside class="form-group row">
                            <label class="col-xs-2 col-form-label">驗證碼</label>
                            <aside class="col-xs-8">
                                <input placeholder="請輸入驗證碼" class="form-control captcha" type="text" name="captcha">
                                <!-- 驗證碼圖片 -->
                                <img src="">
                            </aside>
                            <aside class="col-xs-2">
                                <a class="btn small" href="javascript:">重新產生</a>
                            </aside>
                        </aside>
						<aside class="form-group row">
                            <label class="col-xs-2 col-form-label">身分證字號</label>
                            <aside class="col-xs-8">
                                <input placeholder="請輸入身分證字號" class="form-control" type="text" name="identity">
                            </aside>
                        </aside>
						<aside class="form-group row">
                            <aside class="col-xs-12 text-center">
                                <button class="btn">登入</button>
                            </aside>
                        </aside>
						<aside class="row sim">
                            <label class="col-xs-2 col-form-label"></label>
                            <aside class="col-xs-8">
                                <aside class="form-group row">
                                    <label class="col-xs-3" for="simulate"><input id="simulate" type="checkbox" name="simulate">我要模擬</label>
                                    <aside class="col-xs-6">
                                        <input placeholder="請輸入帳號" class="form-control" type="text" name="identity">
                                    </aside>
                                    <aside class="col-xs-3 text-center">
                                        <button class="btn small">確認</button>
                                    </aside>
                                </aside>
                            </aside>
                        </aside>
                    </form>
                    <p class="warning">使用者帳號或使用者密碼錯誤 1 次。<br>請重新輸入，錯誤次數達 3 次者將無法使用。</p>
				</section>
			</section>
			<!-- ./登入表單 -->