
            <!-- 訊息視窗 -->
            <a class="veno hide" data-vbtype="inline" title=" " href="#messageBox"></a>
            <section class="messagebox hide" id="messageBox">
				<section role="messagebox">
					<article class="viewport">
                        <aside class="title">
                            <h3>喚醒退休危機意識 美元保單助輕鬆享樂退喚醒退休危機意識 美元保單助輕鬆享樂退喚醒退休危機意識 美元保單助輕鬆享樂退喚醒退休危機意識 美元保單助輕鬆享樂退喚醒退休危機意識 美元保單助輕鬆享樂退喚醒退休危機意識 美元保單助輕鬆享樂退</h3>
                            <span class="date">2017/11/10</span>
                            <hr>
                        </aside>
                        <aside class="scroll">
                            <p>勞保年金請領年齡，明年上調至61歲；依《勞工保險條例》現制，勞保年金上路第10年（2018）起，法定勞工保險老年給付的請領年齡向後延1歲，從60歲延至61歲才能請領，而未來將每2年再延後1歲、直到請領年齡增至65歲為止，亦即在民國51年（含）以後出生、現在55歲以下的勞工，都要到65歲才能開始領勞保年金。</p>
                            
                            <p>隨著科技及醫療水準持續進步，國人的平均壽命也逐年提高，根據國家發展委員會「105年至150年人口推估報告」數據顯示，民國150年時，男性的平均餘命81歲、女性的平均餘命87.6歲，若以未來65歲屆齡退休而言，每人至少需要準備約15~20年以上的退休生活費用，才足夠因應長壽風險所帶來的經濟負擔；也因此「退休規劃」近幾年也儼然成為國人的「顯學」。</p>
                            
                            <p>元大人壽表示，退休規劃要趁早，且退休準備金相對無法承受波動風險，而累積退休資金最重要的是預備好未來每個月的基本生活費用，因此以長期、穩固的方式累積較佳；且世界已進入地球村的時代，應將資產做多幣別的配置，資產才不會隨著貨幣政策起伏而減少。而美元利率變動型壽險商品除具有壽險保障、穩健財務及財富增值的功能外，且美元仍為目前國際間流通性最高的貨幣，民眾持有美元不但有助於資產增值，更能分散全球金融市場的震盪風險。元大人壽進一步指出，相較於台幣保單，美元保單預定利率較高，在相同保費條件下，美元保單可獲得較高的保障，因此對於有資產配置與保險保障需求的民眾來說，美元保單是一個不錯的選擇。以「元大人壽珍利美美元利率變動型增額終身壽險」為例，具有三大特色:</p>
                            
                            <ol>
                                <li>保額與保單價值均會隨著保單年度逐漸遞增，還可抗通膨 保單自第7保單年度(含)起，「當年度保險金額」每年以2.5%複利增值至保險年齡110歲。</li>
                            
                                <li>享有增值回饋分享金:<br>每年有機會享有增值回饋分享金，穩健累積財富</li>
                            
                                <li>美元收付，分散資產配置:<br>市場上的外幣保單以美元最熱銷，長期以來美國更是國人出國留學的首選地點，且國人投資儲蓄均偏愛美元，未來美元仍將是國際主流貨幣，因此購買美元保單較能符合時勢所趨。</li>
                            </ol>
                            
                            <p>元大人壽提醒，購買外幣保險商品仍應留意匯率風險，並確認保障範圍和給付方式是否適合自身需求及自身承受匯率風險能力等因素，均應作整體考量，才能享受外幣保單所帶來的報酬與保障，自身資產也才不會隨著經濟環境變化而縮水。</p>

                        </aside>
                    </article>
                    <a class="veno-close" href="javascript:">×</a>
				</section>
			</section>
			<!-- ./訊息視窗 -->