
            <!-- 現售商品搜尋 -->
            <section class="section" role="search">
				<section class="viewport">
                    <!-- 搜尋表單 -->
                    <aside class="search-form">
                        <h3>現售商品</h3>
                        <form>
                            <label>商品類型</label>
                            <select>
                                <option>請選擇商品類型</option>
                            </select>
                            <label>商品代號/名稱</label>
                            <input placeholder="請輸入商品代號/名稱" type="text">
                            <button class="btn">查詢</button>
                        </form>
                    </aside>
                    <!-- ./搜尋表單 -->
                    <!-- 搜尋結果 -->
                    <aside class="search-result">
                        <h3>商品清單</h3>
                        <table>
                            <tr>
                                <th>商品類型</th>
                                <th>商品代號</th>
                                <th>商品名稱</th>
                                <th>條款</th>
                                <th>費率表</th>
                                <th>DM</th>
                                <th>商品說明書</th>
                                <th>備註</th>
                            </tr>
                            <tr>
                                <td>健康險</td>
                                <td>A2</td>
                                <td>元大人壽健康人生終身醫療健康保險</td>
                                <td class="text-center"><a href="javascript:">下載</a></td>
                                <td><a href="javascript:">下載</a></td>
                                <td><a href="javascript:">下載</a></td>
                                <td><a href="javascript:">下載</a></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>健康險</td>
                                <td>A1</td>
                                <td>元大人壽新帳戶醫療終身健康保險</td>
                                <td><a href="javascript:">下載</a></td>
                                <td><a href="javascript:">下載</a></td>
                                <td><a href="javascript:">下載</a></td>
                                <td><a href="javascript:">下載</a></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>健康險</td>
                                <td>A2</td>
                                <td>元大人壽健康人生終身醫療健康保險</td>
                                <td><a href="javascript:">下載</a></td>
                                <td><a href="javascript:">下載</a></td>
                                <td><a href="javascript:">下載</a></td>
                                <td><a href="javascript:">下載</a></td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </aside>
                    <!-- ./搜尋結果 -->
                    <!-- 空白結果 -->
                    <aside class="search-result">
                        <h3>商品清單</h3>
                        <h4>目前無資料</h4>
                    </aside>
                    <!-- ./空白結果 -->
				</section>
			</section>
			<!-- ./現售商品搜尋 -->