
            <!-- 輪播 -->
            <section class="section" role="slick">
				<section class="viewport slick" data-autoplay="true" data-autoplay-speed="2000">
					<a href="javascript:">
						<img alt="陪你一起守護孩子的笑" data-src="img/556x290.jpg">
					</a>
					<a href="javascript:">
						<img alt="陪你一起守護孩子的笑" data-src="img/556x290-2.jpg">
					</a>
					<a href="javascript:">
						<img alt="陪你一起守護孩子的笑" data-src="img/556x290-3.jpg">
					</a>
					<a href="javascript:">
						<img alt="陪你一起守護孩子的笑" data-src="img/556x290-4.jpg">
					</a>
				</section>
			</section>
			<!-- ./輪播 -->