[role=content]{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	font-style: normal;
	text-rendering: optimizelegibility;
	letter-spacing:0.5px;
	word-spacing:0.5px;
	overflow-x:hidden;
	position:relative;
    min-width: 768px;
    background: $body-bg;
	color: $text-color;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;

    @media screen and (min-width: 1024px) {
        font-size: 14px;
        .form-control, output{
            font-size: 14px;
        }
    }
    @media screen and (min-width: 1367px) {
        font-size: 16px;
        .form-control, output{
            font-size: 16px;
        }
    }
    >*{
        opacity: 0;
        filter: blur(5px);
        position: relative;
    }
    &:before{
        content: '';
        @include SubItem();
        background: $body-bg;
    }

    &.loaded{
        >*{
            opacity: inherit;
            transition-duration: 0.5s;
            filter: none;
        }
    }

    figure[data-src], img[data-src]{
        opacity: 0;
        transition-duration: 0.3s;
        &.loaded{
            opacity: 1;
        }
    }
    .viewport{
        position: relative;
        padding-top: 1px;
        margin-top: -1px;
        @media screen and (max-width: $screen-md) {
            width: 100%;
        }
    }
    .center{
        width: 1215px;
        margin: 0 auto;
        position: relative;
    }
    .section{
        hr{
            display: block;
        }
        >aside{
            @media screen and (max-width: $screen-xs) {
                max-width: 96%;
                margin: 0 auto;
            }
        }
    }
    .btn{
        font-size: em(16,16);
        padding: 0 em(30,16);
        line-height: em(28,16);
        height: em(28,16);
        border-radius: em(20,16);
        background: #BB925B;
        color: #fff;
        &:focus{
            outline: none;
        }
        &:hover{
            background: #fff;
            color: #BB925B;
            box-shadow: 0 0 0 1px #BB925B;
        }
        &.small{
            font-size: em(14,16);
            padding: 0 em(15,16);
            line-height: em(24,16);
            height: em(24,16);
            border-radius: em(20,16);
            background: #fff;
            color: #BB925B;
            box-shadow: 0 0 0 1px #BB925B;
            &:hover{
                background: #BB925B;
                color: #fff;
            }
        }
    }
}