.vbox-overlay{
    background: rgba(0,0,0,0.8);
    z-index: 1040;

    // height: calc(100% - 65px);
    // margin-top: 65px;
}
.vbox-inline{
    // padding: 2em;
    // border: 1px solid #ccc;
    // box-shadow: 0 0 0 2em #fff;
    // border-radius: 6px;
    padding: em(20,14)!important;
    background-color: #fff;
    width: per(568,768);
    overflow: hidden;

    @media screen and (max-width: 1000px) {
        height: 100%!important;
    }
}
.vbox-container{
	overflow:hidden;
}
.vbox-content{
    margin: 5em 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	font-style: normal;
	text-rendering: optimizelegibility;
	letter-spacing:0.5px;
	word-spacing:0.5px;
	overflow:hidden;
	position:relative;
	color: $text-color;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    padding: 0;
    
    @media screen and (max-width: 800px) {
        font-size: 16px;
    }
    @media screen and (max-width: 1000px) {
        margin: 0!important;
        height: 100%!important;
    }
    .wrapper{
        width:90%;
        margin: 0 auto;
    }
}
.vbox-title,.vbox-num,.vbox-close,
.vbox-next,.vbox-prev{
    display: none!important;
}


