[role=headnews]{
    h3{
        display: inline-block;
        color: rgb(0,103,179);
        font-weight: bold;
        padding-right: em(24,22);
        margin: 0;
    }
    nav{
        border-bottom: 1px solid rgb(224,224,224);
        // padding-bottom: em(9,14);
        label{
            font-weight: bold;
            cursor: pointer;
            font-size: em(16,14);
            color: rgb(123,123,123);
            padding-bottom: em(8,16);
            margin-bottom: 0;
            &+label{
                margin-left: em(20,16);
            }
        }
        a{
            font-size: em(12,14);
            position: absolute;
            padding: em(2,12) 0;
            text-align: center;
            border-radius: em(16,12);
            width: em(48,12);
            top: em(10, 12);
            right: 0;
            color: #fff;
            background: rgb(187, 146,91);;
        }
    }
    .viewport{
        width: per(568,768);
        margin: em(44,14) auto 0;
    }
    .newslist{
        position: relative;
        margin-top: em(15,14);
        min-height: em(185,14);
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: em(68,14);
            height: em(64, 14);
        }
        ul{
            margin-left: em(88,12);
            color: rgb(123,123,123);
            font-size: em(12,14);
            height: 0;
            opacity: 0;
            filter: blur(2px);
            transition-property: opacity filter;
            transition-duration: 0.3s;
            overflow: hidden;

            li{
                padding: em(8,12) 0 em(9,12);
                position: relative;
                border-bottom: 1px solid rgb(224,224,224);
                
                &.new{
                    &:after{
                        content:'';
                        background: url(../img/icNew.svg) center /cover;
                        width: em(28,12);
                        height: em(12,12);
                        position: absolute;
                        top: em(13,12);
                        right: em(3,12);
                    }
                }
            }
            b{
                font-size: em(14,12);
                color: #000;
                margin-left: em(78 ,14);
                margin-right: em(40 ,14);
                display: inline-block;
            }
            small{
                position: absolute;
            }
        }
    }

    #newsTab1:checked ~ .newslist [data-for=newsTab1],
    #newsTab2:checked ~ .newslist [data-for=newsTab2],
    #newsTab3:checked ~ .newslist [data-for=newsTab3]{
        transition-property: opacity;
        opacity: 1;
        filter: none;
        height: auto;
    }
    #newsTab1:checked ~ nav [for=newsTab1],
    #newsTab2:checked ~ nav [for=newsTab2],
    #newsTab3:checked ~ nav [for=newsTab3]{
        color: #000;
        border-bottom: 2px solid rgb(2,93,163);
    }
}

