[role=headcontact]{
    .viewport{
        width: 100%;
        min-width: 768px;
        .row{
            width: per((186+12+370) , 768);
            margin: em(32,14) auto;
            .pull-left{
                background: #fff;
                padding: per(53,  568) per(38, 568);
                width: per(186, 568);
                h5{
                    color: rgb(2,93,163);
                    font-weight: bold;
                    white-space: nowrap;
                }
                img{
                    width: per(110, 110);
                    height: per(110, 110);
                }
            }
            .pull-right{
                width: per(370 , (186+12+370));
            }
            nav{
                border-bottom: 2px solid rgb(187, 146, 91);
                label{
                    width: 50%;
                    display: inline-block;
                    color: rgb(187, 146, 91);
                    font-size: em(18,14);
                    line-height: em(44,18);
                    vertical-align: middle;
                    text-align: center;
                    margin: 0;
                    cursor: pointer;
                    svg{
                        width:  em(24,18);
                        height:  em(24,18);
                    }
                    .productsvg{
                        display: inline-block;
                        .product0{fill:rgb(187, 146, 91);}
                    }
                    .downloadsvg{
                        display: inline-block;
                        .download0{fill:#BB925B;}
                    }
                }
            }
            ul{
                height: 0;
                opacity: 0;
                filter: blur(2px);
                padding-left: 2em;
                overflow: hidden;
                transition-property: opacity filter;
                transition-duration: 0.3s;
                li{
                    list-style: disc;
                    font-size: 1em;
                    line-height: em(24,14);
                    margin-top: em(6,14);
                }
            }
        }
    }
    #areaTab1:checked ~ nav [for=areaTab1],
    #areaTab2:checked ~ nav [for=areaTab2]{
        background: rgb(187, 146, 91);
        color: #fff;
        .productsvg{
            display: inline-block;
            .product0{fill:#fff}
        }
        .downloadsvg{
            .download0{fill:#fff;}
        }
    }
    #areaTab1:checked ~ .arealist [data-for=areaTab1],
    #areaTab2:checked ~ .arealist [data-for=areaTab2]{
        transition-property: opacity;
        opacity: 1;
        filter: none;
        height: auto;
    }
}

