header {
	background: #fff;
	.member{
		height:  em(72, 14);
	}
	.logo{
		top:0;
		left:0;
		margin: em(21, 20) 0 0 em(21, 20);
		height:  em(30, 20);
		width:  em(144, 20);
		position: absolute;

		img, svg{
			@include SubItem();
		}
	}
	nav{
		z-index: 10;
		position: relative;
		height:  em(40, 14);
		padding-left: em(62, 14);
		text-align: center;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#073c7c+0,007ec7+50,0080d0+100 */
		background: #073c7c; /* Old browsers */
		background: -moz-linear-gradient(left, #073c7c 0%, #007ec7 50%, #0080d0 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #073c7c 0%,#007ec7 50%,#0080d0 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #073c7c 0%,#007ec7 50%,#0080d0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073c7c', endColorstr='#0080d0',GradientType=1 ); /* IE6-9 */
		>aside{
			position: relative;
			height: 100%;
			line-height: em(20, 14);

			>a{
				margin-top: em(10,14);
			}
			a{
				display: inline-block;
				vertical-align: middle;
				color: #fff;
				line-height: em(20, 14);
				padding: 0 em(20, 14);
				&:hover, &.active{
					color: rgb(255,202,88);
				}
			}
			&+aside >a{
				border-left: 1px solid rgb(98,167,215);
			}
			&:hover{
				ul{
					height: auto;
					opacity: 1;
					filter:	none;
					transition: height 0s 0s, opacity 0.2s 0s, filter 0s 0s;
				}
			}
			ul{
				position: absolute;
				top: 100%;
				left: 0;
				height: 0;
				opacity: 0;
				filter: blur(10px);
				overflow: hidden;
				transition: height 0s 0.2s, opacity 0.2s 0s, filter 0.2s 0s;
				li{
					background: #0067B3;
					width: em(160,14);
					line-height: em(44,14);
					display: block;
					padding: 0 em(3,14);
					text-align: center;
				}
			}
		}

	}
	.member{
		color: rgb(123,123,123);
		ul{
			line-height: em(36, 14);
			li{
				line-height: 1.2em;
				height: em(36, 14);
				display: block;
				img,svg{
					width: em(36, 14);
					height: em(36, 14);
					display: inline-block;
				}
				b{
					color: rgb(211,0,0);
					font-weight: normal;
				}
			}
		}
	}
}
