[role=loginform]{
    .viewport{
        width: 746px;
        margin: 0 auto;
        min-height: calc(100vh - #{em(142,14)});
        padding-top: em(32,14);
        @media screen and (max-width: 1366px) {
            width: 568px;
        }
    }
    form{
        background: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        border-radius: em(12,14);
        overflow: hidden;
        margin-top: em(32,14);
        padding-bottom: em(24,14);

        h3{
            border-radius: em(12,22) em(12,22) 0 0;
            margin: 0 auto em(32,16);
            line-height: em(48,22);
            font-size: em(22,16);
            color: #fff;
            text-align: center;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#073c7c+0,1076b8+100 */
            background: #073c7c; /* Old browsers */
            background: -moz-linear-gradient(left, #073c7c 0%, #1076b8 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #073c7c 0%,#1076b8 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #073c7c 0%,#1076b8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073c7c', endColorstr='#1076b8',GradientType=1 ); /* IE6-9 */
        }
        .form-group{
            margin-bottom: em(12,16);
        }
        .col-form-label{
            width: per(144,568);
            text-align: right;
            line-height: em(40,16);
            height: em(40,16);
            margin: 0;
            color: #7B7B7B;
        }
        [class^=col]{
            padding: 0 6px;
        }
        input[type=text], input[type=password]{
            line-height: em(14,40);
            padding: 0 em(12,16);
            box-shadow: 0 1px 0 0 #F2F2F2;
            &:focus{
                box-shadow: 0 2px 0 0 #BB925B;
            }
            &.invalid{
                box-shadow: 0 2px 0 0 #CD0B0B;
            }
            &.captcha{
                width: calc(50% - 3px);
                float: left;
                &+img{
                    margin-left: 6px;
                    width: calc(50% - 3px);
                    float: left;
                }
            }
        }
        
        .col-xs-8{
            width: per(280, 568);
        }
        .form-control{
            border: 0;
            border-radius: 0;
            background: none;
        }

    }
    .warning{
        margin: em(20,14) auto;
        color: #CD0B0B;
        width: 21em;
    }
    .anounce{
        width: em(434, 14);
        margin: 0 auto em(32,14);
        color: #7B7B7B;
        h4{
            margin: 0 auto em(8, 14);
            color: #CD0B0B;
            font-size: em(20,14);
            font-weight: 900;
        }
        .image{
            width: em(84,14);
            margin-right: em(24,14);
            padding: 0;
        }
        .text{
            width: em(326,14);
            padding: 0;
        }
    }
    .sim{
        .col-xs-8{
            width: per(330, 568);
        }
        .form-group{
            padding: 1em 1em 2em;
            box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
        }
        label{
            white-space: nowrap;
            line-height: em(40,14);
            height: em(40,14);
            margin: 0;
            color: #7B7B7B;
            input {
                margin-right: 0.2em;
            }
        }
    }
}

