[role=slick]{
    min-width: 768px;
    .viewport{
        max-width: per(1100, 1366);
        min-width: 768px;
        padding-top: per(290, 1100);
        margin: em(32,14) auto 0;
        .slick-list{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            .slick-track, .slick-slide{
                height: 100%;
            }
        }
        a{
            height: 100%;
            position: relative;
            text-align: center;
            img{
                height: 100%;
                display: inline-block;
                width: auto;
            }
        }
        .slick-slide{
            // width: per(568,768);
            opacity: 0.2;
            transition-duration: 0.3s;
            position: relative;
            >div{
                height: 100%;
            }
            &.slick-active{
                opacity: 1;
            }
        }
        .slick-dots{
            bottom: em(20, 14);
            word-spacing: 1em;
            button{
                font-size: 1em;
                width:em(8,14);
                height: em(8,14);
                background: #fff;
                border-radius: em(8,14);
                text-indent: -999em;
                transition-duration: 0.2s;
            }
            .slick-active{
                button{
                    width: em(32,14);
                }
            }
            li{
                width: auto;
            }
        }
    }
}

